<div class="headbar">
        <div class="logo"><a href="#"><img src="assets/mainlogo.png"></a></div>
    </div> 


<!-- start banner Area -->


  
  <!-- <app-start></app-start> -->
<!-- main app container -->

            <!-- <div class="col-md-12 form"> -->
                <!-- <app-start></app-start> -->
                
                <router-outlet></router-outlet>
<!-- </div> -->
<!-- <footer class="footer">Designed and developed by <a href="http://experdel.com/" target="_blank">Experdel Software and consulting Pvt Ltd</a></footer> -->

<style>
    .col-sm-10.form{
    margin: 0 auto !important;
}
.jumbotron {background:transparent !important;}


.logo img {
width: 200px;
height: auto;
}
.footer {
    background: #5C6D7F;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    padding:15px 0px 15px 0px;
    text-align: center;
    /* bottom: 0px; */
    position: absolute;
    width: 100%;
}
.footer a{color:white}
    </style>
<!-- credits -->

